<div class="default-page">
  <div class="default-grid">
    <header class="d-flex justify-content-start align-items-center px-3 py-2 shadow shadow-sm">
      <img [routerLink]="routes.analysis" class="h-100" src="assets/images/logo.png" alt="" style="cursor: pointer">
      <form class="ms-3">
        <div class="d-flex border border-1 align-items-center px-3 rounded-4">

          <i-tabler name="search" style="color: rgba(114,114,114,0.71)"></i-tabler>

          <ng-select
            id="locality"
            [items]="locationsRepository.locations | async"
            (change)="changeLocations($event)"
            class="ng-select-custom"
            placeholder="Select a location">
          </ng-select>



        </div>
      </form>
      <div class="routes ms-5">
        <a [routerLink]="routes.analysis" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  class="route-link position-relative" >
          <tabler-icon name="chart-histogram" class="position-relative"  style="width: 16px; height: 16px; top: -5px"></tabler-icon>
          <span>Analysis</span>
        </a>

        <a [routerLink]="routes.agencies" routerLinkActive="active" class="route-link active">

          <tabler-icon name="building" class="position-relative"  style="width: 16px; height: 16px; top: -5px"></tabler-icon>
          <span>Agencies</span>
        </a>
      </div>
    </header>

    <div >
      <router-outlet></router-outlet>
    </div>
  </div>

</div>




