<div class="card p-3 shadow-sm">
  <div class="row d-flex align-items-center">
    <div class="col-md-1 text-center">
      <img src="assets/images/img.png" class="img-fluid" alt="icon" style="width: 40px;">
    </div>
    <div class="col-md-8">
      <h6 class="mb-1">Contact data</h6>
      <p class="mb-0">Tel: 0000000000</p>
      <p class="mb-0">Email: agencytenant.com</p>
    </div>
    <div class="col-md-3 text-end">
      <button class="simple-button">Send Email</button>
    </div>
  </div>
</div>
