<div class="left-side">

  <div>

  <div>
    <img width="100" src="assets/images/logo-white.png" alt="">
  </div>

  <ul class="list-unstyled">
    <li><a routerLink="/home"><i-tabler name="home-filled"></i-tabler> <div>Home</div></a></li>
  </ul>

  <h6 class="sidebar-title">Sales channels</h6>
  <ul class="list-unstyled">
  </ul>

  <h6 class="sidebar-title">Apps</h6>
  <ul class="list-unstyled">
  </ul>

  </div>
  <div>
    <ul class="list-unstyled">
      <li><a routerLink="/home"><i-tabler name="settings-filled"></i-tabler> Settings</a></li>
    </ul>
  </div>
</div>
